<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="{% static 'css/products.css' %}">
	<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
	<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
	<link rel="stylesheet" href="{% static 'css/button_front.css' %}">
	<link rel="stylesheet" href="{% static 'css/footer.css' %}">
	<script type="text/javascript" src="{% static 'js/optika.js' %}"></script>
	<title>Sani optika - Eyewear store</title>
</head>

<body>
	<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
		<nav class="navbar navbar-top hidden-xs">
			<div class="container">
				<ul class="nav navbar-nav pull-left">
					<li><a href="https://www.facebook.com/sanioptik/"><span
								class="glyphicon glyphicon-thumbs-up text-grey"></span></a></li>
					<li><a href="http://www.sanioptik.rs/"><span class="glyphicon glyphicon-globe text-grey"></span></a>
					</li>
					<li><a href="#"><span class="glyphicon glyphicon-pushpin text-white"></span></a></li>
					<li><a href="#"><span class="text-grey">QUESTIONS? CALL: <b>011/2455-261</b></span></a></li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li><a href="/sani_optika/online_shop" class="text-grey">Online store</a></li>
				</ul>
			</div>
			<div class="dividline light-grey"></div>
		</nav>
		<nav class="navbar navbar-down">
			<div class="container">
				<div class="flex-container">
					<div class="navbar-header flex-item">
						<a href="/sani_optika/"><img src="{% static "sani_optika/images/logo.png" %}" width="350px"
								height="60px" class="d-inline-block align-top" alt=""></a>
					</div>
					<ul class="nav navbar-nav flex-item hidden-xs pull-left">
						<!-- {% for cat in categories %}
				<li class="nav-item"><a class="nav-link" style="border:none; background: none"
						href="/sani_optika/products/{{cat.id}}" role="button">{{cat.name}}</a></li>
				{% endfor %} -->
						<li class="nav-item"><a class="nav-link"
								style="border:none; background: none; color: rgb(102, 95, 95)"
								href="/sani_optika/hearing_aids" role="button">Hearing aids</a></li>
						<li class="nav-item"><a class="nav-link"
								style="border:none; background: none; color: rgb(102, 95, 95)"
								href="/sani_optika/online" role="button">Stores</a></li>
						<li class="nav-item"><a class="nav-link"
								style="border:none; background: none;  color: rgb(102, 95, 95)"
								href="/sani_optika/about_us" role="button">About Us</a></li>
						<li class="nav-item"><a class="nav-link"
								style="border:none; background: none;  color: rgb(102, 95, 95)"
								href="/sani_optika/hearing_aids" role="button">Contact Us</a></li>
					</ul>
					<div class="dropdown visible-xs pull-right">
						<button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu"
							data-toggle="dropdown">
							<span class="glyphicon glyphicon-align-justify"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Online store</a></li>
							<li><a href="#">Stores</a></li>
							<li><a href="#">Hearing aids</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/sani_optika/about_us">About us</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</nav>
</body>

</html>