
{% include "../base.html" %}
{% load static %}

<div class="aboutus-section" style="margin-top: 150px">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">Pod sloganom “Zdravlje sa stilom” kompanija “SANI OPTIK” posluje u 34 grada Srbije kroz mrežu od 43 specijalizovane prodavnice za promet medicinskim sredstvima na malo.

                        Kao sinonim kvalitetnih proizvoda i usluga, kompanija svojim potrošačima nudi dioptrijske i naočare za sunce renomiranih brendova, savremenu tehnologiju slušnih pomagala, pouzdane usluge provere dioptrije, ugradnju svih vrsta dioptrijskih sočiva u okvire, ugradnju dioptrijskih sočiva u naočare za sunce, izrade individulanih oliva za slušne aparate i slično.
                        
                        Prateći savremene tokove poslovanja sa klijetima oštećenog vida i sluha, kompanija je ustrojena kao dinamičan sistem sa ciljem da se na zahteve potrošača odgovori odmah, vodeći računa o njihovom zdravlju. Gradeći imidž kredibilnog i lojalnog partnera “SANI OPTIK” na tržište Srbije donosi najviše standarde usluge i moderan stil poslovanja, koji podrazumeva nesvakidašnje staranje o stilu, funkcionalnosti i estetskoj vrednosti proizvoda.
                        
                        Asortiman proizvoda koje se plasira kroz maloprodaje pažljivo je odabran, uz poštovanje modnih trendova, kvaliteta, ali i specifičnih zahteva loklanih tržišta. Obuhvata:
                        
                        dioptrijske i naočare za sunce najpoznatijih svetskih brendova:
                        Moschino, Missoni, Valentino, Lacoste, Salvatore Ferragamo, Baldinini, Vivienne Westwood, La Martina, Calvin Klain, Chloe, Jil Sander, Karl Lagerfeld, Borsalino Gianfranco Ferre, Cesare Paciotti, Laura Biagiotti, Sisley, Benetton, John Richmond, Zero RH, Bikkembergs, Iceberg, Mila Zegna Baruffa , Replay, Nike, Alviero Martini, Hally &Son
                        organska i mineralna dioptrijska sočiva renomiranih proizvođača, među kojima posebno izdvajamo “Essilor”;
                        kontaktna sočiva svih vrsta (dioptrijska i kozmetska), kao i sredstva za održavanje kontaktnih sočiva;
                        slušne aparate švajcarske kompanije “Phonak”
                        Objedinjujući sve potrebe klijenata, kompanija je svoju unutrašnju organizaciju prilagodila korisnicima, te u svim maloprodajama posluju optički kabineti i centri za korekciju sluha.
                        
                        Klijentima je omogućena brza i pouzdana provera dioptrije u najkraćem periodu po zakazivanju, testiranje sluha kao i servisi slušnih aparata .
                        
                        Korporativna kultura koja je usklađena sa visokim svetskim standardima poslovanja opredeljuje kompaniju “SANI OPTIK” ka izuzetnoj posvećenosti klijentima i poslovnim partnerima.</p>

                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Our misssion</h4>
                                <p>SANI OPTIK je sinonim za svet u kome svako uživa u gledanju i slušanju života, bez ograničenja, uz stilizovan i moderan izgled.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Our vision</h4>
                                <p>SANI OPTIK – lider u savetovanju i pružanju visokostručne pomoći svim svojim klijentima, a posebno osobama oštećenog vida i sluha.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>