{% extends "base.html" %}

{% block content %}

{% include "../sidebar.html" %}

    <div class="col-md-10">
        {% if reviews %}
          {% for rev in reviews %}
            <div class="card" style="max-width: 500px">
              <div class="card-header">
                <img src="../../static/sani_optika/images/review/{{rev.path}}" alt="" height="200">
              </div>
              <div class="card-body">
                <b>{{rev.user.first_name}} {{rev.user.last_name}}</b> bought <b>{{rev.product.name}}</b>
              </div>
              <div class="card-footer">
                {{rev.text}}
              </div>
            </div>
          {% endfor %}
        {% else %}

        {% endif %}

    </div>

{% endblock %}
